// ----------------------- RESET PADDING AND MARGIN ---------------------------
* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
body {
  display: none;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
}
li {
  list-style: none;
  display: inline-block;
}
a {
  text-decoration: none;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  background-color: transparent;
  -webkit-box-shadow: 0 0 0px 0px transparent inset;
}
.highlight {
  color: gold;
}
// ----------------------- CLOSE RESET PADDING AND MARGIN ---------------------



// ------------------------------ BACKGROUND ----------------------------------
.background {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -3;
  background-size: contain;
  background-position: center center;

  height: 100vh;
  width: 100vw;
  overflow: hidden;

  img {
    background-size: cover;
    background-position: center center;
    object-fit: cover;
    height: 100vh;
    width: 100vw;
    min-width: 900px;
    min-height: 470px;
  }
}
.darkeningOverlay {
  position: absolute;
  top: 0;
  z-index: -2;
  background-color: rgba(0, 0, 0, 0.35);

  overflow: hidden;
  height: 100vh;
  width: 100vw;
  min-width: 900px;
}
.overlayPNG {
  display: none;
  position: absolute;
  top: 0;
  z-index: -1;
  background-size: cover;
  background-position: center center;

  height: 100vh;
  width: 100vw;
  min-width: 900px;
  overflow: hidden;
  img {
    background-size: cover;
    background-position: center center;

    min-width: 900px;
    height: 100vh;
    width: 100vw;
  }
}
#source_img {
  display: none;
}
// ------------------------------ CLOSE BACKGROUND ----------------------------




// ----------------------------------- HEADER ---------------------------------
header {
  min-width: 950px !important;
  height: 10vh;
  box-sizing: border-box;
  padding: 18px 0px;
  color: white;
  text-align: center;
  font-weight: 100;

  .date {
    position: relative;
    right: 24px;
    top: 0;
    font-weight: 400;
    font-size: 15px;
    float: right;
  }

  .logo {
    width: 75px;
    position: relative;
    left: 24px;
    top: 0;
    color: gold;
    float: left;
    box-sizing: border-box;
    font-weight: normal;
    img {
      box-sizing: border-box;
      width: 75px; // ***** 60px for Prod
    }
  }


  section.googleSearch {

    min-width: 950px !important;
    width: 100vw;

    position: absolute;
    top: 0vh;
    left: 0;
    right: 0;
    margin: auto;

    form.myGoogleSearchForm {

      position: relative;
      margin: auto;

      input[type="text"] {
        padding: 6px;
        color: white;
        outline: none;
        font-size: 18px;
        font-weight: 100;
        background-color: transparent;
        border: 1px solid transparent;
        border-bottom: 1px solid white;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        transition: background-color .5s ease, width .5s ease;
        width: 200px;


        &::-webkit-input-placeholder {
          color: rgba(255,255,255,0.4);
          font-size: 16px;
        }

        &:focus {
          background-color: rgba(0,0,0,0.2);
          width: 310px;
        }
      }

      i.ion-ios-search-strong {
        position: absolute;

        z-index: -1;
        top: 10px;
        font-size: 20px;
        color: rgba(255, 255, 255, 0.8);
        transition: all 1s ease;
      }
    }
  }
}
// ----------------------------- CLOSE HEADER ---------------------------------



// ----------------------------------- SPINNER --------------------------------
.spinnerContainer {
  display: none;
  position: absolute;
  top: 0vh;
  z-index: 6;
  height: 100vh;
  width: 100vw;
  overflow: visible;

  //display: flex;
  justify-content: center;
  align-items: center;

  background-color: #333333;

  h4 {
    top: 20vh;
    position: absolute;

    width: 1000px;
    height: 128px;
    margin: auto;

    box-sizing: border-box;
    text-align: center;
    font-weight: bold;
    font-size: 64px;
    letter-spacing: -1px;

    color: #f35626;
    background-image: -webkit-linear-gradient(92deg,#f35626,#feab3a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 60s infinite linear;
  }
  .loader {
    position: relative;
    top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;

    color: #f35626;
    background-image: -webkit-linear-gradient(92deg,#f35626,#feab3a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-size: 90px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    z-index: 5;
    border-radius: 50%;
    margin: 72px auto;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease, hue 60s infinite linear;;
    animation: load6 1.7s infinite ease, round 1.7s infinite ease, hue 60s infinite linear;;
  }

}
// typedjs classes
.typed {
  position: absolute;
  color: white;
  width: 80vw;
  margin: auto;
  text-align: center;
  bottom: 15vh;
  font-size: 32px;
}
.typed-cursor{
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}
.typed-fade-out{
  opacity: 0;
  animation: 0;
  transition: opacity .25s;
}
// ----------------------------- CLOSE SPINNER --------------------------------



// ----------------------------------- MAIN -----------------------------------
main {
  width: 100vw;
  height: 80vh;
  min-height: 450px;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  text-align: center;
  box-sizing: border-box;
  color: white;

  .darkenBackground {
    display: none;
    position: absolute;
    top: -10vh;
    left: 0;
    right: 0;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.4);
    height: 100vh;
    width: 100vw;
    z-index: 2;
    cursor: pointer;
  }

  section.welcomeMessage {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    width: 100vw;
    height: 80vh;

    justify-content: center;
    align-items: center;

    box-sizing: border-box;

    .addMoodflowAsHomepage {
      position: absolute;
      width: 770px;
      left: 0;
      right: 0;
      margin: auto;
      z-index: 3;
      box-sizing: border-box;

      padding: 65px 80px;
      background-color: rgba(0,0,0,1);
      border-radius: 6px;
      font-family: monospace;
      font-size: 19px;

      #firstTimeClose {
        cursor: pointer;
        top: -30px;
        right: -30px;
        position: absolute;
        display: inline-block !important;

        color: white !important;
      }
    }
  }

  section.loginForm {
    display: none;
    padding: 80px 0;
    position: fixed;
    margin: auto;
    width: 92vw;
    height: 500px;
    box-sizing: border-box;
    border-radius: 7px;
    text-shadow: 1px 1px 1px rgba(100, 100, 100, 0.6);

    h4 {
      position: relative;
      width: 1000px;
      height: 128px;
      margin: auto;

      box-sizing: border-box;
      text-align: center;
      position: relative;
      font-weight: bold;
      font-size: 64px;
      letter-spacing: -1px;
      .askEmail {
        display: none;
      }
      .askGender {
        display: none;
      }
    }

    form {
      min-width: 1000px;
      position: relative;
      top: 40px;
      box-sizing: border-box;
      margin: auto;
      height: 200px;
      width: 500px;

      input {
        display: inline-block;
        width: 400px;
        text-align: center;
        font-weight: 100;
        font-size: 42px;
        color: white;
        outline: none;
        background-color: transparent;
        border: 1px solid transparent;
        border-bottom: 1px solid white;
        transition: all .5s ease;
        &:focus {
          border-bottom-color: gold;
        }
      }
      .emailInput {
        display: none;
        transition: all .2s ease;
      }
      .noEmail {
        display: none;
        margin-top: 10px;
        cursor: pointer;
        font-weight: 100;
        transition: color .5s ease;
        &:hover {
          color: #cccccc;
        }
      }

      // checkBox Styling
      .control-group {

        .guy {
          position: relative;
          left: 20px;
          bottom: 60px;
        }
        .girl {
          position: relative;
          left: 250px;
          bottom: 60px;
        }
        .control {
          font-family: arial;
          display: inline;
          position: relative;
          padding-left: 30px;
          margin-bottom: 15px;
          padding-top: 3px;
          cursor: pointer;
          font-size: 16px;
        }
        .control input {
          display: none;
          position: absolute;
          z-index: -5;
          opacity: 0;
        }
        .control_indicator {
          display: none;
          position: absolute;
          top: 2px;
          left: 0;
          height: 30px;
          width: 30px;
          background: #e6e6e6;
          border: 0 solid #000000;
          transition: all .6s ease;
          animation: checkboxAnimation 1s ease-in-out 0s 1 normal;
          animation-fill-mode: forwards;
          animation-play-state: paused;
        }
        .control input:focus ~ .control_indicator,
        .control:hover input ~ .control_indicator {
          background: white;
        }
        .control input:checked ~ .control_indicator {
          background: #ffd700;
        }


        .control input:checked:focus ~ .control_indicator,
        .control:hover input:not([disabled]):checked ~ .control_indicator {
          background-color: #ffd700;
        }

        .control_indicator:after {
          box-sizing: unset;
          content: '';
          position: absolute;
          display: none;
        }

        .control input:checked ~ .control_indicator:after {
          background-color: #ffd700;
        }

        .control input:hover ~ .control_indicator:after {
          display: block;
        }

        .control-checkbox .control_indicator:after {
          box-sizing: border-box;
          left: 12px;
          top: 9px;
          width: 4px;
          height: 9px;
          border: solid black;
          border-width: 0 2px 2px 0;
          transform: rotate(45deg);
        }
        .noGender {
          display: none;
          position: relative;
          top: 30px;
          left: 138px;
          cursor: pointer;
          font-weight: 100;
          transition: color .5s ease;
          &:hover {
            color: #cccccc;
          }
        }
      }
    }
  }

  section.dashboard {
    padding: 80px 0;
    position: fixed;
    margin: auto;
    width: 92vw;
    height: 500px;
    box-sizing: border-box;
    border-radius: 7px;
    text-shadow: 1px 1px 1px rgba(100, 100, 100, 0.6);

    div.container {
      min-width: 1000px;
      position: relative;
      top: 40px;
      box-sizing: border-box;
      margin: auto;
      height: 200px;


      h4 {
        height: 100px;
        margin: auto;

        box-sizing: border-box;
        text-align: center;
        position: relative;
        font-weight: bold;

        font-size: 64px;
        letter-spacing: -1px;
      }

      .buttonsContainer {
        margin: auto;
        width: 900px;

        button {
          position: relative;
          width: 130px;
          height: 50px;
          background-color: transparent;
          border: 1px solid gold;
          border-radius: 3px;
          color: white;
          cursor: pointer;
          padding: 14px 24px;
          margin: 0vh 15px;
          font-size: 17px;
          outline: none;
          font-weight: 100;
          transition: background-color .2s ease, color .4s ease;
          &:hover {
            background-color: gold;
            color: black;
          }
        }
      }
    }
  }

  section.moodInput {
    display: none;
    padding: 80px 0;
    position: fixed;
    margin: auto;
    width: 92vw;
    height: 500px;
    box-sizing: border-box;
    border-radius: 7px;
    text-shadow: 1px 1px 1px rgba(100, 100, 100, 0.6);

    div.container {
      position: relative;
      min-width: 1000px;
      box-sizing: border-box;
      margin: auto;
      height: 300px;

      div.moodValueContainer {  }

      div.commentValueContainer {
        display: none;
      }

      h4 {
        position: relative;
        height: 100px;

        margin: auto;

        box-sizing: border-box;
        text-align: center;
        font-weight: bold;

        font-size: 64px;
        letter-spacing: -1px;
      }

      h5 {
        position: relative;
        text-align: center;
        color: gold;
        font-weight: 100;
        letter-spacing: -2px;
        font-size: 44px;
      }

      input[type="range"] {
        position: relative;
        top: 20px;
        -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
        width: 280px; /* Specific width is required for Firefox. */
        background: transparent; /* Otherwise white in Chrome */
        outline: none;
        &:focus {
          outline: none;
        }
        &::-ms-track {
          width: 100%;
          cursor: pointer;
          background: transparent;
          border-color: transparent;
          color: transparent;
        }
        &::-webkit-slider-thumb {
          -webkit-appearance: none;
          border: 1px solid rgba(190, 190, 190, 0.4);
          height: 30px;
          width: 16px;
          border-radius: 3px;
          background: gold;
          cursor: pointer;
          margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
        }
        &::-moz-range-thumb {
          border: 1px solid rgba(190, 190, 190, 0.4);
          height: 36px;
          width: 16px;
          border-radius: 3px;
          background: gold;
          cursor: pointer;
        }
        &::-ms-thumb {
          border: 1px solid gold; //rgba(190, 190, 190, 0.4);
          height: 36px;
          width: 16px;
          border-radius: 3px;
          background: gold;
          cursor: pointer;
        }
        &::-webkit-slider-runnable-track {
          width: 100%;
          height: 8.4px;
          cursor: pointer;
          background: rgba(255, 255, 255, 1);
          border-radius: 1.3px;
          border: 0.2px solid rgba(255, 255, 255, 1);
        }
      }

      .showInputValue {
        //display: none;

        width: 40px;
        height: 40px;

        margin: 40px auto 10px;
        font-size: 32px;
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 50%;
      }

      .continueButton {
        margin-top: 17px;
        display: none;

        cursor: pointer;
        outline: none;
        padding: 10px 14px;
        border: solid 1px transparent;
        font-size: 20px;
        background-color: gold;
        color: rgb(60,60,60);
        border-radius: 5px;
        transition: background-color 0.5s ease, color .5s ease;
        &:hover {
          background-color: white;
          color: rgb(100,100,100);
        }
      }

      textarea.commentInput {
        resize: vertical;
        position: relative;
        top: 20px;
        width: 280px;
        height: 34px;

        font-size: 20px;
        text-align: justify;
        outline: none;
        border: 1px solid transparent;
        border-radius: 5px;
        padding: 9px 9px 0px;
        transition: all .8s ease;
      }

      .skipButton {
        position: relative;
        display: block;
        left: 120px;
        bottom: -21px;
        //display: none;
        margin: auto;
        outline:none;
        font-weight: 400;
        cursor: pointer;
        background-color: transparent;
        border: 1px solid transparent;
        color: rgba(255,255,255,0.8);
        font-size: 15px;
        transition: all .5s ease;
        &:hover {
          color: white;
        }
      }

      .submitButton {
        margin-top: 17px;
        display: none;

        cursor: pointer;
        outline: none;
        padding: 10px 14px;
        border: solid 1px transparent;
        font-size: 20px;
        background-color: gold;
        color: rgb(60,60,60);
        border-radius: 5px;
        transition: background-color 0.5s ease, color .5s ease;
        &:hover {
          background-color: white;
          color: rgb(70,70,70);
        }
      }
    }
  }

  section.chart {
    display: none;
    padding: 60px 0;
    position: fixed;
    margin: auto;
    width: 92vw;
    height: 500px;
    box-sizing: border-box;
    border-radius: 7px;
    text-shadow: 1px 1px 1px rgba(100, 100, 100, 0.6);

    div.container {
      min-width: 1000px;
      position: relative;
      box-sizing: border-box;
      margin: auto;
      height: 400px;
      width: 1155px;

      .makeSpanTransparent {
        color: transparent;
        text-shadow: 1px 1px 1px rgba(100, 100, 100, 0.0);
      }

      h4 {
        width: 900px;
        height: 100px;
        margin: auto;

        box-sizing: border-box;
        text-align: center;
        position: relative;
        font-weight: bold;
        font-size: 64px;
        letter-spacing: -1px;

        .yourMoodflow {
          transition: all .5s ease;
        }
      }

      div.tooltipContainer {
        display: none;
        position: absolute;
        top: -100px;
        right: 0;
        left: 0;
        margin: auto;
        height: 200px;
        width: 500px;
        padding: 15px;
        background-color: rgba(0,0,0,0.2);
        border-radius: 3px;
        box-sizing: border-box;
        border: 1px solid rgba(255,255,255,0.1);

        -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.3);
        -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.3);
        box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.3);

        .blurText {
          transition: all 1s ease;
          color: transparent;
          text-shadow: 0 0 5px rgba(255,255,255,0.99);
        }

        .myTitle {
          display: flex;
          justify-content: center;
          align-items: center;
          box-sizing: border-box;
          font-size: 18px;
          height: 20px;
          font-weight: bolder;

          transition: all .25s ease;
        }

        .myComment {
          font-size: 16px;
          text-align: left;
          height: 130px;
          width: 470px;
          box-sizing: border-box;
          line-height: 23px;
          padding-top: 7px;
          font-weight: 100;
          overflow-x: scroll;
          transition: all .25s ease;
        }

        .myValue {
          font-size: 18px;
          padding: 1px;
          text-align: center;
          height: 20px;
          box-sizing: border-box;
          font-weight: 100;
          transition: all .25s ease;
        }
        .moodHighlight {
          display: inline;
          color: gold;

          font-weight: bolder;
          transition: all .25s ease;
        }
      }

      div.canvasContainer {
        position: relative;
        top: 30px;
        min-width: 900px;
        width: 1155px;
        height: 210px;
        font-size: 16px;
      }
      canvas {
        display: block;
        box-sizing: border-box;
        overflow: visible;
      }

      .iconContainer{
        position: relative;
        top: 80px;
        i.ion-ios-checkmark-outline {
          cursor: pointer;
          position: relative !important;
          font-size: 44px;
          color: gold;
          overflow: visible;
        }
      }
    }
  }

  section.meditate {
    position: absolute;
    display: none;
    //display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    width: 100vw;
    min-height: 100vh;
    height: 100vh;
    box-sizing: border-box;
    top: -10vh;
    left: 0;
    right: 0;
    background-color: black;

    span.iconContainer {
      position: absolute;
      display: none;
      top: 2vh;
      right: 25px;
      cursor: pointer;
      font-size: 25px;
      color: rgba(100, 100, 100, 0.8);
      transition: color .2s ease;
      &:hover {
        color: rgba(255,255,255,1);
      }
    }

    span.iconContainerLeft {
      position: absolute;
      display: none;
      top: 2vh;
      left: 25px;
      cursor: pointer;
      font-size: 25px;
      color: rgba(100, 100, 100, 0.8);
      transition: color .2s ease;
      &:hover {
        color: rgba(255,255,255,1);
      }
    }

    div.meditateContainer {
      display: none;
      min-width: 800px;
      width: 90vw;
      height: 90vh;

      position: relative;

      justify-content: center;
      align-items: center;

      div.message {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        height: 30vh;
        top: 0;
        right: 0;
        left: 0;
        margin: auto;

        line-height: 30px;
        transition: all 1s ease;

        font-family: monospace;
        font-weight: bold;
        font-size: 18px;
      }

      // message that appears after meditating
      div.wellDone {
        display: none;
      }

      .center { // white dot in the middle
        background-color: white;
        width: 8vh;
        height: 8vh;
        border-radius: 50%;
        box-shadow: 0px 0px 133px 24px rgba(224,248,255,0.8);
        animation-name: breathIn;
        animation-duration: 5s;
        animation-delay: 0s;
        animation-play-state: paused;
        animation-direction: alternate;

        animation-iteration-count: 40;
        animation-timing-function: ease-in-out;
      }


      .meditateIconContainer {
        display: none;
        position: absolute;
        bottom: 15vh;
        color: white;
        font-size: 44px;
        cursor: pointer;
        transition: color .5s ease;
        &:hover {
          color: gold;
        }
      }


      //info styles .warning and .sponsor
      .info {
        width: 90vw;

        position: absolute;
        font-size: 16px;
        color: rgba(200, 200, 200, 0.5);
        bottom: 0;
      }

      div.warning {
        display: none;
      }

      div.sponsor {
        display: none;
      }
    }
  }

  section.todoList {
    border: 1px solid rgba(255,255,255,0.1);
    display: none;
    position: absolute;
    bottom: -1vh;
    left: 24px;

    max-height: 80vh;
    overflow-y: scroll;
    width: 300px;

    padding: 5px;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.4);
    transition: all .5s ease;
    &::-webkit-scrollbar {
      display: none;
    }

    div.container {
      box-sizing: border-box;

      div.header {
        position: relative;
        font-size: 22px;
        height: 24px;
        padding: 2px;
        font-weight: 100;
        letter-spacing: 1px;
        margin-bottom: 4px;

        .ion-ios-compose-outline {
          font-size: 28px;
          color: lightgrey;
          position: absolute;
          cursor: pointer;
          right: 4px;
          top: -2px;
          z-index: 2;
          transition: all .1s ease;
          &:hover {
            color: gold;
          }
        }
      }

      div.todosContainer {
        box-sizing: border-box;
        padding: 0px;
        min-height: 200px;
        transition: all .5s ease;

        div.oneTodoTemplate {
          display: none;
          min-height: 30px;
          box-sizing: border-box;

          textarea {
            padding: 5px 5px 0px;
            border: 1px solid white;
            border-radius: 3px;
            box-sizing: border-box;
            min-height: 30px;
            width: 280px;
            font-size: 14px;
            color: white;
            font-weight: 100;
            background-color: rgba(0,0,0,0.55);
            outline: none;
            resize: none;
            word-wrap: break-word;
            line-height: 19px;
          }
        }

        div.oneTodo {
          position: relative;
          min-height: 30px;
          box-sizing: border-box;
          margin-bottom: 5px;

          div.todoText {
            padding: 4px;
            font-size: 14px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin: auto;
            min-height: 30px;
            border-radius: 3px;
            box-sizing: border-box;
            width: 280px;
            word-wrap: break-word;
            outline: none;
            border: 1px solid rgba(255, 255, 255, 0.6);
          }

          span.eraseTodo {
            display: none;
            cursor: pointer;
            position: absolute;
            top: 2px;
            right: 8px;
            font-size: 24px;
            transition: color .2s ease;
            &:hover {
              color: tomato;
            }
          }
        }
      }
    }
  }

  // Motivational videos
  .notOnline {
    position: absolute;
    z-index: 6;
    display: none;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 240px;
    background-color: black;

    line-height: 29px;
    padding: 10px 14px;
    border-radius: 6px;
    font-family: monospace;
    font-size: 19px;
  }
  .closeiframe {
    position: absolute;
    top: -10vh;
    left: 0;
    z-index: 3;

    cursor: pointer;
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);

    .myQuote {
      display: none;
      font-style: oblique;
      line-height: 22px;
      position: absolute;
      font-weight: 100;
      font-size: 16px;
      top: 4vh;
      right: 0;
      left: 0;
      margin: auto;
    }
  }
  .myiframe {
    position: absolute;
    z-index: 4;
    top: 10vh;
    left: 0;
    right: 0;
    width: 70vw;
    height: 60vh;

    display: none;
    margin:auto;
    border: 1px solid transparent;
    border-radius: 6px;
  }
}
// --------------------------------- CLOSE MAIN -------------------------------





// ------------------------------- FOOTER -------------------------------------
footer {
  min-width: 950px !important;
  height: 10vh;
  position: relative;

  .ion-gear-a {
    position: absolute;
    color: rgba(255, 255, 255, 0.5);
    font-size: 22px;
    cursor: pointer;
    bottom: 16px;
    left: 24px;
    transition: color .5s ease;
    z-index: 2;
    &:hover {
      color: rgba(255, 255, 255, 1);
    }
  }

  .logoutpopup {
    display: none;
    position: absolute;
    bottom: 50px;
    left: 24px;
    background-color: rgba(0,0,0,0.5);
    width: 375px;
    border-radius: 5px;
    border: 1px solid rgba(255,255,255,0.1);
    padding: 10px;
    font-size: 18px;
    box-sizing: border-box;
    font-weight: 100;
    color: white;
    text-align: left;
    z-index: 2;

    // general container
    div.container {
      padding: 2px 0;
      font-size: 18px;
      text-align: left;
      margin: 2px 0px;
      height: 25px;
      transition: all .5s ease;
    }

    // backgroundFrequencyContainer
    div.backgroundFrequencyContainer {
      position: relative;
      i {
        cursor: pointer;
        font-size: 20px;
        transition: all .2s ease;
        &:hover {
          color: gold;
        }
      }

      .arrows {
        position: absolute;
        right: 0;
        margin: 0px 5px;
      }

      .arrowUp {
        margin-right: 25px;
      }
    }

    label {
      cursor: pointer;
    }

    input {
      margin-bottom: 14px;
      cursor: pointer;
    }

    .logoutbutton{
      transition: color .5s ease;
      margin-bottom: 15px;
      &:hover {
        color: tomato;
        cursor: pointer;
      }
    }
  }

  section.landscapeButtons {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;

    //display: flex;
    align-items: center;
    justify-content: center;

    width: 500px;
    height: 10vh;

    button {
      width: 60px;
      height: 32px;
      margin: 0 25px;
      font-size: 14px;
      font-weight: 100;
      border-radius: 4px;

      outline: none;
      cursor: pointer;
      color: rgba(255, 255, 255, 0.5);
      background-color: rgba(0,0,0,0.05);
      border: 1px solid transparent;
      transition: all .2s ease;
      &:hover {
        transform: scale(1.1, 1.1);
        background-color: gold;
        border: 1px solid gold;
        color: black;
      }
    }

  }

  section.todoListButton {
    position: absolute;
    bottom: 14px;
    left: 64px;
    z-index: 2;

    .ion-plus {
      cursor: pointer;
      font-size: 25px;
      color: rgba(255, 255, 255, 0.8);
      &:hover {
        color: white;
      }
    }
  }

  section.picCredit {
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    position: absolute;
    bottom: 16px;
    right: 24px;
    color: rgba(255, 255, 255, 0.8);

    #picAuthor{
      a {
        color: rgba(255, 255, 255, 0.8);
      }
      .myAnchor {
        color: rgba(255, 255, 255, 0.8);
        transition: color .4s ease;
        &:hover {
          color: white;
        }
      }
    }
  }
}
// --------------------------- CLOSE FOOTER -----------------------------------



// ------------------------------- EYE CLOSING CSS ----------------------------
.transitionContainer {
  display: none;
  position: absolute;
  top: 0;
  z-index: 6;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  overflow: hidden;
}
.eyeClosing {
  width: 400vw;
  box-sizing: content-box;
  background-color: transparent;
  height: 300vh;
  box-shadow: inset 0vw 0vw 0vw 0vw transparent;
  transition: all 4s ease;
  border: 1px solid transparent;
  border-radius: 50%;
  transform: scale(1.2,1.2) translate(-25%, -27%);
}
// --------------------------- CLOSE EYE CLOSING CSS --------------------------


// ------------------------------- MEDIA QUERIES ------------------------------

@media (min-height: 800px) {
  // ------------------------------- HEADER -----------------------------------
  header {

    .date {
      font-size: 2vh !important;
    }

    .logo {
      img {
        width: 9vh !important;
      }
    }

    section.googleSearch {

      input {
        padding: 0.6vh 0 !important;
        height: 2vh;
        width: 25vh !important;
        font-size: 2vh !important;
      }

      i.ion-ios-search-strong {
        top: 1vh !important;
        font-size: 2vh !important;
      }
    }
  }
  // -----------------------------  CLOSE HEADER ------------------------------


  // -------------------------- SECTION DASHBOARD -----------------------------
  main {
    min-width: 1142px !important;

    h4 {
      width: auto !important;
      font-size: 9vh !important;
      height: 12vh !important;
    }

    h5 {
      font-size: 5.5vh !important;
    }

    section.welcomeMessage {
      .addMoodflowAsHomepage {
        width: 100vh !important;
        height: 50vh !important;
        padding: 9vh 12vh !important;
        font-size: 2.5vh !important;

        #firstTimeClose {
          top: -4vh !important;
          right: -3vh !important;
        }
      }
    }

    section.loginForm {
      h4 {
        top: -10vh !important;
      }

      form {
        input {

          width: 50vh !important;
          font-size: 5vh;
        }
      }
    }

    .buttonsContainer {
      width: auto !important;

      button {
        margin: 0 3vh !important;
        height: 6.7vh !important;
        width: 17.4vh !important;
        font-size: 2.4vh !important
      }
    }

    section.moodInput {

      input[type="range"] {
        top: 30px !important;
        width: 28vh !important;

        &::-webkit-slider-thumb {
          -webkit-appearance: none;
          border: 1px solid rgba(190, 190, 190, 0.4);
          height: 3vh !important;
          width: 1.5vh !important;
          border-radius: 3px;
          background: gold;
          cursor: pointer;
          margin-top: -7px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
        }

        &::-webkit-slider-runnable-track {
          width: 100%;
          height: 0.9vh !important;
          cursor: pointer;
          background: rgba(255, 255, 255, 1);
          border-radius: 1.3px;
          border: 0.2px solid rgba(255, 255, 255, 1);
        }
      }

      .showInputValue {
        height: 4vh !important;
        width: 4vh !important;
        margin: 5vh auto 20px !important;
        font-size: 3vh !important;
      }

      .continueButton {
        margin-top: 17px;
        display: none;

        padding: 1vh 1.4vh !important;
        border: solid 1px transparent;
        font-size: 2vh !important;
        background-color: gold;
        color: rgb(60,60,60);
        border-radius: 5px;
        transition: background-color 0.5s ease, color .5s ease;
      }

      textarea.commentInput {
        width: 32vh;
        height: 3vh;
        line-height: 30px;
        padding: 0.7vh 1vh 0.4vh !important;
      }

      .skipButton {
        font-size: 1.2vh !important;
      }

      .submitButton {
        margin-top: 25px;
        padding: 1vh 1.4vh !important;
        border: solid 1px transparent;
        font-size: 2vh !important;
      }
    }

    section.chart {
      height: 80vh !important;
      padding: 30px !important;

      div.container {
        width: 85vw !important;
        height: 75vh !important;

        h4 {
          width: 85vw !important;
          top: 2vh !important;
        }

        div.tooltipContainer {
          top: 0 !important;
          width: 30vw !important;
          height: 19vh !important;

          .myTitle {
            height: 2.7vh !important;
            font-size: 2.5vh !important;
          }

          .myComment {
            width: auto !important;
            height: 12vh !important;
            font-size: 2vh !important;
            line-height: 2.3vh;
          }

          .myValue {
            font-size: 2vh !important;
            height: 2.2vh !important;
          }
        }

        div.canvasContainer {
          top: 14vh !important;
          width: 85vw !important;
          height: 24vh !important;
        }

        .iconContainer {
          top: 24vh !important;
          i.ion-ios-checkmark-outline {
            font-size: 6vh !important;
          }
        }
      }
    }

    section.meditate {
      span.iconContainer {
        font-size: 3vh !important;
      }
      span.iconContainerLeft {
        font-size: 3vh !important;
      }

      div.meditateContainer {

        div.message {
          font-size: 2.5vh !important;
          line-height: 3.1vh !important;
        }

        .info {
          font-size: 2.5vh !important;
        }
      }
    }


    section.todoList {
      width: 40vh !important;
      bottom: -4vh !important;
      min-height: 25vh !important;

      div.header {
        font-size: 2.5vh !important;
        height: 2.6vh !important;
        .ion-ios-compose-outline {
          font-size: 3vh !important;
        }
      }

      div.todosContainer {

        div.oneTodoTemplate {

          textarea {
            height: 3.4vh !important;
            width: 38.5vh !important;
            font-size: 1.8vh !important;
            padding: 1vh 0.5vh 0 !important;
          }
        }

        div.oneTodo {

          div.todoText {
            height: 3.4vh !important;
            width: 38vh !important;
            font-size: 2.1vh !important;
          }
          span.eraseTodo {
            top: 0.7vh !important;
          }
        }
      }
    }

    .closeiframe {

      .myQuote {
        font-size: 2vh !important;
        line-height: 2.4vh !important;
      }
    }
  }
  // ---------------------- CLOSE SECTION DASHBOARD ---------------------------


  // -------------------------- FOOTER ----------------------------------------
  footer {

    .ion-gear-a {
      font-size: 3vh !important;
    }

    section.landscapeButtons {

      width: auto;

      button {

        width: 8vh;
        height: 3.5vh;
        font-size: 1.2vh;
      }
    }

    section.todoListButton {
      bottom: 14px !important;
      left: 7vh !important;

      .ion-plus {
        font-size: 3.5vh !important;
      }
    }

    section.picCredit {
      font-size:  1.5vh !important;
    }

    // options popup
    .logoutpopup {
      width: 50vh !important;
      bottom: 6vh !important;

      div.container {
        padding: 0.75vh 0 !important;
        font-size: 2.2vh !important;
      }

      i {
        font-size: 2.2vh !important;
      }

      .arrowUp {
        margin-right: 3vh !important;
      }
    }

    // todo list is located in the main div
  }

  // ------------------------ CLOSE FOOTER ------------------------------------

  [data-balloon]:after {
    background: rgba(17, 17, 17, 0.9);
    border-radius: 4px;
    color: #fff;
    content: attr(data-balloon);
    font-size: 1vh !important;
    padding: .5em 1em;
    white-space: nowrap;
    margin-bottom: 11px;
  }
}
// --------------------------- CLOSE MEDIA QUERIES ----------------------------



// ------------------------------ ANIMATION -----------------------------------
@keyframes checkboxAnimation {
  0% {
    opacity: 0;
    top: 0;
  }

  100% {
    opacity: 1;
    top: 60px;
  }
}
@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }

  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}
  //typedjs animations
@keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-webkit-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-moz-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
  //meditate section animations
@keyframes breathIn {
  0% {
    box-shadow: 0px 0px 133px 0px rgba(224,248,255,0.8);
  }

  85% {
    box-shadow: 0px 0px 133px 100px rgba(224,248,255,0.8);
  }

  100% {
    box-shadow: 0px 0px 133px 100px rgba(224,248,255,0.8);
  }
}
@keyframes smallBreathIn {
  0% {
    box-shadow: 0px 0px 133px 0px rgba(224,248,255,0.8);
  }

  85% {
    box-shadow: 0px 0px 133px 20px rgba(224,248,255,0.8);
  }

  100% {
    box-shadow: 0px 0px 133px 20px rgba(224,248,255,0.8);
  }
}

// ------------------------ CLOSE ANIMATION -----------------------------------



// ------------------------- CSS TOOLTIP --------------------------------------
button[data-balloon] {
  overflow: visible;
}
[data-balloon] {
  position: relative;
}
[data-balloon]:before,
[data-balloon]:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -khtml-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.18s ease-out 0.5s;
  transition: all 0.18s ease-out 0.5s;
  bottom: 100%;
  left: 50%;
  position: absolute;
  z-index: 10;
  -webkit-transform: translate(-50%, 10px);
  -ms-transform: translate(-50%, 10px);
  transform: translate(-50%, 10px);
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
}
[data-balloon]:after {
  background: rgba(17, 17, 17, 0.9);
  border-radius: 4px;
  color: #fff;
  content: attr(data-balloon);
  font-size: 12px;
  padding: .5em 1em;
  white-space: nowrap;
  margin-bottom: 11px;
}
[data-balloon]:before {
  background: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2236px%22%20height%3D%2212px%22%3E%3Cpath%20fill%3D%22rgba%2817,%2017,%2017,%200.9%29%22%20transform%3D%22rotate%280%29%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E') no-repeat;
  background-size: 100% auto;
  height: 6px;
  width: 18px;
  content: "";
  margin-bottom: 5px;
}
[data-balloon]:hover:before,
[data-balloon][data-balloon-visible]:before,
[data-balloon]:hover:after,
[data-balloon][data-balloon-visible]:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  -khtml-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
[data-balloon].font-awesome:after {
  font-family: FontAwesome;
}
[data-balloon][data-balloon-break]:after {
  white-space: pre;
}
[data-balloon-pos="down"]:before,
[data-balloon-pos="down"]:after {
  bottom: auto;
  left: 50%;
  top: 100%;
  -webkit-transform: translate(-50%, -10px);
  -ms-transform: translate(-50%, -10px);
  transform: translate(-50%, -10px);
}
[data-balloon-pos="down"]:after {
  margin-top: 11px;
}
[data-balloon-pos="down"]:before {
  background: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2236px%22%20height%3D%2212px%22%3E%3Cpath%20fill%3D%22rgba%2817,%2017,%2017,%200.9%29%22%20transform%3D%22rotate%28180%2018%206%29%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E') no-repeat;
  background-size: 100% auto;
  height: 6px;
  width: 18px;
  margin-top: 5px;
  margin-bottom: 0;
}
[data-balloon-pos="down"]:hover:before,
[data-balloon-pos="down"][data-balloon-visible]:before,
[data-balloon-pos="down"]:hover:after,
[data-balloon-pos="down"][data-balloon-visible]:after {
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
[data-balloon-pos="left"]:before,
[data-balloon-pos="left"]:after {
  bottom: auto;
  left: auto;
  right: 100%;
  top: 50%;
  -webkit-transform: translate(10px, -50%);
  -ms-transform: translate(10px, -50%);
  transform: translate(10px, -50%);
}
[data-balloon-pos="left"]:after {
  margin-right: 11px;
}
[data-balloon-pos="left"]:before {
  background: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2212px%22%20height%3D%2236px%22%3E%3Cpath%20fill%3D%22rgba%2817,%2017,%2017,%200.9%29%22%20transform%3D%22rotate%28-90%2018%2018%29%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E') no-repeat;
  background-size: 100% auto;
  height: 18px;
  width: 6px;
  margin-right: 5px;
  margin-bottom: 0;
}
[data-balloon-pos="left"]:hover:before,
[data-balloon-pos="left"][data-balloon-visible]:before,
[data-balloon-pos="left"]:hover:after,
[data-balloon-pos="left"][data-balloon-visible]:after {
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
[data-balloon-pos="right"]:before,
[data-balloon-pos="right"]:after {
  bottom: auto;
  left: 100%;
  top: 50%;
  -webkit-transform: translate(-10px, -50%);
  -ms-transform: translate(-10px, -50%);
  transform: translate(-10px, -50%);
}
[data-balloon-pos="right"]:after {
  margin-left: 11px;
}
[data-balloon-pos="right"]:before {
  background: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2212px%22%20height%3D%2236px%22%3E%3Cpath%20fill%3D%22rgba%2817,%2017,%2017,%200.9%29%22%20transform%3D%22rotate%2890%206%206%29%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E') no-repeat;
  background-size: 100% auto;
  height: 18px;
  width: 6px;
  margin-bottom: 0;
  margin-left: 5px;
}
[data-balloon-pos="right"]:hover:before,
[data-balloon-pos="right"][data-balloon-visible]:before,
[data-balloon-pos="right"]:hover:after,
[data-balloon-pos="right"][data-balloon-visible]:after {
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
[data-balloon-length]:after {
  white-space: normal;
}
[data-balloon-length="small"]:after {
  width: 80px;
}
[data-balloon-length="medium"]:after {
  width: 150px;
}
[data-balloon-length="large"]:after {
  width: 260px;
}
[data-balloon-length="xlarge"]:after {
  width: 90vw;
}
@media screen and (min-width: 768px) {
  [data-balloon-length="xlarge"]:after {
    width: 380px;
  }
}
[data-balloon-length="fit"]:after {
  width: 100%;
}
